.people-edit       {
  .person          { min-width:180px; display:inline-block; background:#cedd92; padding:10px; margin:0 5px 5px 0; position:relative; vertical-align:top;
    .delete-person { position: absolute; top:10px; right:10px; }
  }

}
